<form name="rem_form" id="rem_form">
    <input type="hidden" id="s_id" name="s_id"></input>
    <input type="hidden" id="inv_id" name="inv_id"></input>
     <div style="float:right;">
         <label for="stores-lst">Выбрать склад</label>
         <select id="stores-lst" name="store" disabled="disabled"></select>
     </div>
    <div id="actions-set">
        <input type="radio" id="radio1" name="action" onChange="$('#stores-lst').prop('disabled',true);" checked="cheked" value="1"></input><label for="radio1">Списать</label>
        <input type="radio" id="radio2" name="action" onChange="$('#stores-lst').prop('disabled',false);" value="2"></input><label for="radio2">Переместить</label>
        <br/>
        <p>
    <label for="spinner">Количество:</label>
    <input id="spinner" name="val" size="2"></input> шт.
    <input id="max-val" type="hidden"></input>
    </p>
        <label>Комментарий:</label>
        <textarea cols="50" rows="10" name="comnt"></textarea>
    </div>
</form>
<script>
    $(function() {
       $("#actions-set").buttonset();
       $("#spinner").spinner();
    });
</script>