    <form id="store-data" name="store-data">
            <label>Название:</label>
            <input type="text" id="store_name" name="store_name" size="43" maxlength="45" ></input>
           <label>Описание:</label>
            <textarea name="store_descr" id="store_descr" cols="40" rows="5"></textarea>
    </form>