<?php
echo $header;
?>
<div id="left-column">
 <?php
 if(isset($menu)) {
 echo $menu;
 }
 ?>
</div>
<div id="center-column">
<?php
if (isset($content)) {
echo $content;
}
?>
</div>
<?php
echo $footer;
?>