<form action="login" method="post" enctype="multipart/form-data" target="_self">
<label>Логин: </label><input name="login" type="text" size="10" maxlength="25" />
<label>Пароль:</label><input name="passwd" type="password" size="10" />
<a class="button">Вход</a>
</form>