html,body {
	margin:0px;
	padding:0px;
        background:#dedede;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#131313;
}
h1 {
	font-size:1.5em;
	font-weight:bold;
}
h2,h3,h4,h5 {
    font-size: 1.3em;
}
a {
    color:#333;
}
select {
    font-size: 0.9em !important;
}
label {
    display: block;
    font-weight:600;
    font-size: 0.8em;
}
input[type='text'],input[type='password'],textarea,select {
    border:1px solid #E0CFC2;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}
.infobar {
    float:right;
    text-align: center;
    padding:2px;
}
a.info-link{
    padding-right:20px;
    background:url('../image/info.png') right center no-repeat;
}
a.del-link {
    padding-right:20px;
    background:url('../image/del-inv.png') right center no-repeat;
}
a.edit-link {
   padding-right:20px;
   background:url('../image/edit.png') right center no-repeat; 
}
a.move-link {
  padding-right:20px;
   background:url('../image/move-inv.png') right center no-repeat;   
}
#conteiner{
	padding:10px 0;
	width:100%;
	height:100%;
	min-height:700px;
	min-width:1280px;
	background:#dedede;
}
#header,#footer,#content {
	width:80%;
	min-width:1024px;
	padding:10px;
	margin:auto;
}
/* HEADER */
#header {
	height:70px;
	background:linear-gradient(to bottom,#ffcc66,#cd8a38);/*#F90;*/
	-moz-border-radius:15px 15px 0 0;
	-webkit-border-radius:15px 15px 0 0;
	border-radius:15px 15px 0 0;
}
#title {
       clear:both;
       width:140px;
}
#title h1 {
	color:#f7f7f7;
	font-style:italic;
	text-shadow: 1px 1px 7px #333;
}
a.header {
    text-decoration:none;
    color:#fff;
}
#welcome {
    float:right;
    top:70px;
    margin-right: 20px;
    font-size: 0.8em;
    color:#fff;
}

/* CONTENT */
#content {
	height:100%;
	min-height:500px;
	background:#F9F9F9;
}
#footer {
	background:linear-gradient(to bottom,#333,#111);
	height:40px;
	-moz-border-radius:0 0 15px 15px;
	-webkit-border-radius:0 0 15px 15px;
	border-radius:0 0 15px 15px;
}
#left-column{
	width:161px;
	float:left;
	height:100%;
	min-height:480px;
	padding:5px 0;
        margin:0;
}
#center-column {
	margin-left:160px;
	height:100%;
	min-height:480px;
	padding:5px 5px 5px 10px;
}
#copyright {
    width:310px;
    margin:auto;
    margin-top:20px;
}
#copyright,#copyright > a {
    color:#ddd;
    font-size:0.7em;
}

/*MENU*/
ul#menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#menu a {
display: block;
margin-bottom:5px;
padding:8px;
background:  linear-gradient(to bottom,#ffcc66,#cd8a38);
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
font-size:0.8em;
font-weight: bold;
color:#fff;
text-align: center;
text-decoration: none;
}
ul#menu a:hover,.button:hover {
    background:  #ff6600;  
}
#options {
    margin:5px;
    padding:2px;
    position: relative;
}
.block-title{
    color: #fff;
    margin:0px;
    padding:5px;
    text-align: center;
    background:linear-gradient(to bottom,#ffcc66,#cd8a38);
    -moz-border-radius:8px 8px 0 0;
    -webkit-border-radius:8px 8px 0 0;
    border-radius:8px 8px 0 0;
    border-right:1px solid #bbb;
    border-left:1px solid #bbb;
    border-top:1px solid #bbb;
    font-size:1.1em;
    font-weight: bold;
}
.block-content {
    margin:0px;
    padding:5px;
    border-right:1px solid #bbb;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    background:#f7f7f7;
}

.err {
    color:red;
}

.button {
    color:#fff;
    font-size: 0.8em;
    font-weight: bold;
    padding:4px 8px;
    background: linear-gradient(to bottom,#ffcc66,#cd8a38);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.button-exit {
    padding:2px 5px;
    background-color:#990000;
    border:1px solid #000;
    color:#ffffff;
    cursor: pointer; 
    float:right;
    margin-top:-3px;
    margin-right:10px;
}
/* LOG TABLE START */
.log {
    width:100%;
    font-size: 10pt;
    border-collapse: collapse;
}
.log td {
    border:1px solid #bbb;
    padding:5px;
}
.log a {
    text-decoration: underline;
    cursor: pointer;
}

tr.even {
    background:#ddd;
}
tr:hover td{
    background: #fffdc2;
}
.log-title, .log-title:hover {
    font-weight: bold;
    text-align: center;
    background: #ddd;
}
.add,.move,.delete {
    padding-left:15px;
    text-shadow: 0 0 1px #111;
}
.add {
    color:#006600;
    background: url('../image/add.png') no-repeat center left;
}
.move {
    color:#000066;
    background: url('../image/move.png') no-repeat center left;
}
.delete {
    color:#990000;
    background: url('../image/delete.png') no-repeat center left;
}
/* LOG TABLE END */

/* PAGINATION */
.pagination {
    text-align: center;
    margin:0;
    padding:10px;
}
.pagination a, .pagination strong {
    margin:0 2px;
    text-decoration: none;
}
.pagination strong {
    background: #333;
    color:#f7f7f7;
        padding: 3px 4px;
}
.pagination a {
    padding: 2px 4px;
    border:1px solid #333;
}

.success {
    font-weight: bold;
    font-size: 0.8em;
    color:#ffffff;
    background:linear-gradient(to bottom,#22be3f,#257734);
    padding:2px 5px;
    margin: 0 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.error {
    font-weight: bold;
    color:#ffffff;
    font-size: 0.8em;
    background:linear-gradient(to bottom,#a61b05,#7d2618);
    padding:2px 5px;
    margin: 0 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
/* Category list start */
.parent-list {
    list-style: none;
    padding:5px;
}
.parentcat {
    margin:5px;
}
.pointer {
    cursor: pointer;
}
.def-cat {
    list-style: disc;
}
.boldtxt {
    font-weight: bold;
}
/* Category list end */
/* Stores list add */
.store-menu-block {
    height:100%;
    float:right;
    padding:5px;
}
.store-menu {
cursor: pointer;
display:inline-block;
width:25px;
height:25px;
background:url('../image/store-menu.png') 0% 0% no-repeat transparent;
padding:0px;
}
.store-menu:hover {
    background-position: 0% 100%;
}