  <?php  if(isset($inventorys)) { 
  foreach($inventorys as $inventory) { ?>
<?php if(isset($invstores)) { 
$total_quantity = 0; ?>
<div style='float:right;margin:0px;padding:5px;'><strong>Наличие на складах:</strong><table class="log" cellspacing="0" cellpadding="0">
<tr class="log-title">
        <td>
            Склад
        </td>
         <td>
            Количество
        </td>
</tr>
    <?php foreach($invstores as $invstore) { ?>
    <tr>
        <td><?php echo $invstore['store_name']; ?>
        </td>
        <td><?php echo $invstore['quantity']; ?>
        </td>
    </tr>
    <?php $total_quantity += $invstore['quantity'];?>
    <?php }?>
     </table>
<?php echo "<span style='font-size:0.8em;font-weight:bold;'>Итого: ".$total_quantity."</span>"; ?></div>
<?php } ?>

<?php
  echo "<form id='info_inv' name='info_inv'><label>Название:</label><input type='text' size='48' value='".$inventory['inv_name']."' name='info_inv_name'></input>";
  echo "<input type='hidden' value='".$inventory['inv_id']."' name='info_inv_id' id='info_inv_id'>";
  echo "<label>Категория:</label><select name='info_cat_id' id='info_cat_id' disabled><option value='".$inventory['cat_id']."'>".$inventory['cat_name']."</option></select>&nbsp;<span class='button' onClick='javascript:cat_list();'>Изменить</span>";
  echo "<label>Номер сортировки:</label><input type='text' size='2' value='".$inventory['inv_sort']."' id='sort' name='sort'></input>";
  echo "<label>Описание:</label><textarea cols='45' rows='5' name='info_inv_descr'>".$inventory['inv_descr']."</textarea>";
        }
?>
<?php if(isset($invlogs)) { ?>
<center><strong>Последние перемещения:</strong><table class="log" cellspacing="0" cellpadding="0">
<tr class="log-title">
        <td>
            День/время
        </td>
         <td>
            Действие
        </td>
        <td>
            Количество
        </td>
        <td>
            Склад
        </td>
</tr>
<?php foreach($invlogs as $invlog) { ?>
<tr title="<?php echo $invlog['comment'];?>">
    <td>
        <?php echo $invlog['act_date']; ?>
    </td>
    <td>
        <?php echo $invlog['act_type']; ?>
    </td>
    <td>
        <?php echo $invlog['quantity']; ?>
    </td>
    <td>
        <?php echo $invlog['store_name']; ?>
    </td>
<?php } ?> 
</table></center>

<?php } ?>
</form>
<?php   }
  ?>