<form id="inventory_form" name="inventory_form">
<label>Название:</label><input name="inv_name" type="text" size="50" maxlength="45" />
<label>Категория:</label><select name="cat_id" size="1">
 <?php if(isset($cat_lists)) {
    echo '<option>Выбирите категорию</option>';
    foreach ($cat_lists as $cat_list) {
        echo '<option value='.$cat_list["cat_id"].'>'.$cat_list["cat_name"].'</option>';
    }
  
 } else {
 echo "<option>Категории не найдены</option>";
 }
 ?>       
</select>
<label>Номер сортировки:</label><input type="text" size="1" name="sort"></input>
<label>Описание:</label><textarea name="inv_descr" cols="48" rows="5"></textarea>
</form>