<?php echo $header; ?>
<div id="left-column">
</div>
<div id="center-column">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">По складам</a></li>
            <li><a href="#tabs-2">По перемещениям</a></li>
        </ul>
        <div id="tabs-1">
            <label for="store">Склад:</label>
            <select id="store" name="store"></select>
        </div>
        <div id="tabs-2">
            <p>А тут будет поиск по движению инвентаря</p>
        </div>
    </div> 
</div>
<?php echo $footer; ?>