    <form name='addcat' id='addcat'>
        <label>Название:</label>
        <input type='text' size='25' name='cat_name' id="cat_name"></input>
        <label>Категория по умолчанию <input id='def_cat' name='def_cat' type='checkbox' /></label><br />
        <label>Главная категория <input id='main_cat' name="main_cat" type='checkbox' checked onchange="javascript:check_parent_cat();" /></label>
        <label>Родительская категория:</label>
        <select id="main-cat-id" name="main-cat-id" size="1" disabled><option>Выберите категорию</option></select>
        <label>Порядок сортировки:</label><input type="text" size="1" id="sort" name="sort"></input>
    </form>