<form name="rcat-form" id="rcat-form">
    <label>Название: <input type='text' id='rcat_name' name="rcat_name"></input></label>
    <input type="hidden" id="rcat_id" name="rcat_id"></input>
    <label>Назначить по умолчанию <input type='checkbox' id="rcat-def" name="rcat-def"></input></label>
    <label>Порядок сортировки<input type="text" size="1" id="sort" name="sort"></input></label>
</form>